
/* koko sisältö */
body{
	background-color: #d7f9f5;
}

#sisältö{
	display: flex;
    width: 80%;
    flex-flow: column wrap;
	margin-left:auto;
	margin-right:auto;
}
h1{
	margin-left: 1% !important;
	letter-spacing: 3px;
	font-size: 3rem;
}
h2{
	margin-bottom: 1% !important;
	margin-left: 1% !important;
	color: orangered;
}
h3{
	margin-bottom: 1% !important;
	color: orangered;
}

/* yläreinan div-valikot */
select{
    font-size: 1.5rem;
	width: 100%;
}

.float-left {
	padding:10px 10px 10px 0;
	width:80%;
	
}
  
@media screen and (max-width:740px) {
	select {
	  width:100% !important;
	}
	form{
		width: 100%;
	}
	#sisältö{
		width: 100%;
	}
	.float-left{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 3%;
	}
	.nappiKeskelle{
		margin-top: 8% !important;
		margin-bottom: 8% !important;
	}
	h2{
		margin-left: 4% !important;
	}

}

/* nappi */
.nappiKeskelle{
   /*text-align: center;*/
   margin-bottom: 10%;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271; /*  box-shadow:inset 0px 1px 0px 0px #a4e271;   */
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%); /*  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);    */
	background-color:#89c403; /*  background-color:#89c403;   */
	border-radius:6px;
	border:1px solid #74b807; /*  border:1px solid #74b807;  */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009; /*  text-shadow:0px 1px 0px #528009;   */
}
.myButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%); /*  background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);  */
	background-color:#77a809; /*  background-color:#77a809  */
}
.myButton:active {
	position:relative;
	top:1px;
}


/* kurssitaulu */
table {
    border-collapse: collapse;
    width: 100%;
	background-color: white;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
tbody a {
	color:#000;
}
tbody a:hover {
	color:blue;
}

#kurssiTaulu {
	display: block;
}

#eiYhteytta {
	display: none;
	color: red;
}

#eiKursseja {
	display: none;
	color: blue;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/*Korkeakoulu valikon tyylit*/
#checkboxes1 {
	display: none;
	border: 1px #dadada solid;
	background-color: white;
	position: absolute;
	font-size: 1.5rem;
	width: 100%;
	height: 10em;
	overflow-y: scroll;
	z-index: 1;
}

#checkboxes1 label input {
	margin-right: 1em;
	width: 1.5em;
	height: 1.5em;
}

#checkboxes1 label {
	display: block;
	margin-top: 1%;
}

#checkboxes1 label:hover {
	background-color: #1e90ff;
	color: white;
}